/* 회원가입 페이지 목록 전체적용 */
.api-page {
    display : flex;
    flex-direction : column; /* 수직 정렬 */
    width : 370px;
    margin : 0 auto;
    text-align : center;
}
/* 회원가입 페이지 입력칸과 버튼 */
.api-page input,
.api-page button {
    margin-bottom: 10px; /* 요소 간격 설정 */
    padding: 10px;
    font-size: 16px;
}
/* 회원가입 페이지 입력칸 */
.api-page input{
    border-radius : 8px;
    border: 1px solid #ccc; /* 연한 테두리 */
    width : 100%;
    width : 100%;
    height : 35px;
}
/* 회원가입페이지 회원가입 버튼 */
.api-page button {
    width : 390px;
    border-radius : 8px;
    border: 1px solid #ccc; /* 연한 테두리 */
    background-color : #121212;
    color : white;
}

h4 {
    font-size : 30px;
}

body {
    background-color : #131415;
    color : white;
}